<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/ecommerce/static/CSS/style1.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section>
            <h2>Our Story</h2>
            <p>Welcome to our website. At SK E-Commerce, we're dedicated to revolutionizing your online shopping experience. Founded on the principles of convenience, reliability, and innovation, we strive to offer a diverse range of high-quality products that cater to every aspect of your lifestyle. Whether you're seeking the latest fashion trends, cutting-edge technology, or everyday essentials, our platform provides a seamless browsing and purchasing journey. With a commitment to customer satisfaction, we prioritize transparency, security, and exceptional service at every step of the way. Join us as we embark on this exciting journey to redefine the way you shop online.</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <div class="team-member">
                <img src="/ecommerce/static/Images/SahilPhoto.jpeg" alt="Team Member 1">
                <h3>Sahil Khalkar</h3>
                <p>Founder</p>
            </div>
            <div class="team-member">
                <img src="/ecommerce/static/Images/DD.jpeg" alt="Team Member 2">
                <h3>Dnyaneshwar Darade</h3>
                <p>Co-Founder</p>
            </div>
            <div class="team-member">
                <img src="/ecommerce/static/Images/LW.jpeg" alt="Team Member 3">
                <h3>Lubhit Wadnere</h3>
                <p>CTO</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Your Company</p>
    </footer>
</body>
</html>
