{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row mt-4 "><!--main section start from second row-->
    <div class="col-md-9">
        <div class="mt-2 shadow p-3" >
            <h5>Customer  Deatils</h5><hr>
            {% for i in data %}
            {% if forloop.counter == 1 %}
            <p><strong>Customer Name:</strong>{{i.uid_id.username}}</p>
            <p><strong>Email:</strong>{{i.uid_id.email}}</p>
            {% endif %}
            {% endfor %}
        </div>
        {% for i in data %}
        <div class="row shadow p-3 mx-auto"> 
            <div class="col-md-6 "><!--image div start-->
                <img src="{{i.pid_id.pimage.url}}" alt="" width="414px">

              </div><!--image div end-->
              <div class="col-md-6 "><!--product detail  div start-->
                <p><strong>Product Name:</strong>{{i.pid_id.name}}</p>
                {% if i.pid_id.cat == 1 %}
                <p><strong>Category:</strong>Mobile</p>
                {% elif i.pid_id.cat == 2 %}
                <p><strong>Category:</strong>Shoes</p>
                {% else %}
                <p><strong>Category:</strong>Cloth</p>
                {% endif %}
                <p><strong>Category:</strong>{{i.pid_id.cat}}</p>
                <p><strong>Product Detail:</strong>{{i.pid_id.pdetail}}</p>
                <p><strong>Price:</strong>{{i.pid_id.price}}</p>
                <p>
                  <strong>Quantity:</strong>
                  <a href="updateqty/0/{{i.id}}"><button class="btn btn-danger">-</button></a>
                  <input type="text" value="{{i.qty}}">
                  <a href="updateqty/1/{{i.id}}"><button class="btn btn-danger">+</button></a>
                </p>
                <p><a href="remove/{{i.id}}"><button class="btn btn-danger">remove</button></a></p>

              </div><!--product detail  div end-->
        </div>
        {% endfor %}
      </div>
    <div class="col-md-3 "> 
        <div class="p-3 shadow">
            <h5>
                Price Detail
            </h5>
            <p><b>Price({{n}} Items):</b>RS:{{total}}</p>
            <p><b>Total Price:</b>RS:{{total}}</p>
            <p><a href="/placeorder"><button class="btn btn-danger"> Place Order</button></a></p>
        </div>
    </div>
</div>

{% endblock 'main' %}