<div class="row mt-4 p-3 bg-light"><!--footer section start or 3rd row start -->
    <div class="col-md-4">
      <h5>Address</h5><hr>
      22-B, 1st Floor,<br>
      Rainbow Plaza,<br>
      Shivaar Chowk,Pimple Saudagar,<br>
      Pimpri 411027,
    </div>
    <div class="col-md-4">
      <h5> Quick Links</h5><hr>
      
      <a href="index.html">Home</a><br>
      <a href="#">About</a><br>
      <a href="#">Contact</a><br>
     
    </div>
    <div class="col-md-4">
      <h5>Social Media Icons</h5><hr>
      <a href="#" style="color: black;"><i class="bi bi-linkedin"></i></a><br>
      <a href="#" style="color: black;"><i class="bi bi-facebook"></i></a><br>
      <a href="#" style="color: black;"><i class="bi bi-instagram"></i></a><br>
      <a href="#" style="color: black;"><i class="bi bi-twitter"></i></a>
    </div>
</div><!--footer section end or 3rd row end -->
</div>
<script src="static/JS/bootstrap.min.js"></script>
<script src="static/JS/popper.js"></script>

</body>
</html>