<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 mx-auto shadow p-3">
                {% if errmsg %}
                <div class="alert alert-danger" role="alert">
                  {{errmsg}}
                </div>
                {% endif %}
                <form  method="post">
                    {% csrf_token %}
                    <h3 style="text-align: center;"> USER LOGIN</h3>
                    <div class="mb-3">
                        <label for="Input4" class="form-label">Username</label>
                        <input type="email" class="form-control" id="Input4" aria-describedby="emailHelp" name="uname">
                      </div>

                      <div class="mb-3">
                        <label for="Input2" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Input2" name="upass">
                      </div>

                      <button type="submit" class="btn btn-primary">Login</button>
                      &nbsp; &nbsp; New User? &nbsp; <a href="/register">Register</a>
                </form>
            </div>
        </div>
    </div>
    <script src="static/JS/bootstrap.min.js"></script>
    <script src="static/JS/popper.js"></script>

</body>
</html>