{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
{% for i in data %}
<div class="row mt-4 p-3"><!--main section starts here-->

    <div class="col-md-9 mx-auto">
        {% if success %}
        <div class="alert alert-success" role="alert">
          {{success}}
        </div>
        {% endif %}

        {% if errmsg %}
        <div class="alert alert-danger" role="alert">
          {{errmsg}}
        </div>
        {% endif %}
        
        {% for i in data %}
        <div class="row" ><!--Div containing Image and details-->
            <div class="col-md-6"><!--for Image section-->
                    <img src="{{i.pimage.url}}" alt="Shoes" width="100%" height="200px">
            </div>

            <div class="col-md-6"><!--For product detail section-->
                <p><strong>Product Name:</strong>{{i.name}}</p>
                {% if i.cat == 1 %}
                <p><strong>Category:</strong>Mobile</p>
                {% elif i.cat == 2 %}
                <p><strong>Category:</strong>Shoes</p>
                {% else %}
                <p><strong>Category:</strong>Cloth</p>
                {% endif %}
                <p><strong>Product Details:</strong>{{i.pdetail}}</p>
                <p><strong>Price:</strong>{{i.price}}</p>

                <p>
                    <a href="/addtocart/{{i.id}}"><button class="btn btn-danger">Add to Cart</button></a>
                    <a href="/cart"><button class="btn btn-danger">View Cart</button></a>
                    <a href="/product"><button class="btn btn-danger">Shop More</button></a>
                </p>

            </div>
        </div>
        {% endfor %}
    </div>

</div><!--Main section ends here-->
{% endfor %}

{% endblock 'main' %}